@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-pjs);
  --font-outfit: var(--font-outfit);
}

body {
  /* Default font already handled by layout.jsx body classes, but here as a fallback */
  font-family: var(--font-sans), sans-serif;
}
